[data-fullscreen="fullscreenoverlay"] {
  overflow: hidden;
}

[data-fullscreen="fullscreeneditor"] {
  position: fixed !important;
  top: var(--drupal-displace-offset-top) !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  z-index: 10000 !important;
  display: flex !important;
  width: 100% !important;
  height: 100% !important;
  flex-direction: column !important;
}

:root:has([data-fullscreen="fullscreenoverlay"]) {
  --drupal-displace-offset-top: 0px !important;
}

[data-fullscreen="fullscreeneditor"] .ck-editor__top {
  flex: none !important;
  width: 100% !important;
}

[data-fullscreen="fullscreeneditor"] .ck.ck-editor__main {
  overflow-y: scroll;
  flex: 1 !important;
  width: 100% !important;
}

[data-fullscreen="fullscreeneditor"] .ck.ck-editor__editable,
[data-fullscreen="fullscreeneditor"] .ck-source-editing-area {
  height: 100% !important;
}

/* ckeditor toolbar conflict with admin toolbar and node edit vertical tabs */
[data-fullscreen="fullscreenoverlay"] .vertical-tabs__panes {
  z-index: auto !important;
}

[data-fullscreen="fullscreenoverlay"] .toolbar-menu-administration {
  display: none !important;
}
